@chartset 'utf-8';
body {
  background: #ccc;
}
.jd-header .search-wrap {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  height: 0.609375rem;
  background: rgba(255, 0, 0, 0.8);
  line-height: 0.609375rem;
}
.jd-header .search-wrap form {
  position: relative;
  flex: 1;
  margin: 0 0.3125rem;
}
.jd-header .search-wrap form .logo {
  position: absolute;
  top: 0.1875rem;
  left: 0.078125rem;
  width: 0.3125rem;
  height: 0.234375rem;
  background: url('../images/00-search/1.png') no-repeat center / cover;
}
.jd-header .search-wrap form .iconfont {
  position: absolute;
  top: 0;
  left: 0.46875rem;
  font-size: 0.1875rem;
  color: #666;
}
.jd-header .search-wrap form input {
  width: 100%;
  height: 0.3125rem;
  border-radius: 0.78125rem;
  text-indent: 0.703125rem;
  font-size: 0.1875rem;
}
.jd-header .search-wrap a {
  flex: none;
  margin-right: 0.3125rem;
  color: #fff;
}
.jd-header .banner-wrap .swiper-container {
  height: 4.875rem;
}
.jd-header .banner-wrap .swiper-slide img {
  width: 100%;
  height: 100%;
}
.swiper-pagination .swiper-pagination-bullet {
  width: 0.078125rem;
  height: 0.078125rem;
  background: transparent;
  border: 0.015625rem solid #fff;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background: #fff;
}
/*开始 导航*/
.nav-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0.1328125rem 0;
}
.nav-wrap a {
  flex: 20%;
  text-align: center;
}
.nav-wrap a > img {
  height: 0.453125rem;
  width: 0.453125rem;
}
.nav-wrap a > span {
  display: block;
  margin-bottom: 0.125rem;
}
/*开始 圣诞抽奖*/
.chri-wrap .chr-top {
  height: 1.515625rem;
  background: url('../images/03-christmas/1.png') no-repeat center / cover;
}
.chri-wrap .chr-bot {
  position: relative;
  height: 4.015625rem;
  background: url('../images/03-christmas/2.png') no-repeat center / cover;
}
.chri-wrap .chr-bot .c-b-cont {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1.484375rem 0 0 -3.1953125rem;
  width: 6.390625rem;
  height: 2rem;
  background: #bf4040;
  border-radius: 0.078125rem;
  overflow: hidden;
}
.chri-wrap .chr-bot .c-b-cont > a {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.53125rem;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.7));
  text-align: center;
  font-size: 0.28125rem;
  color: #fff;
  line-height: 0.53125rem;
}
.chri-wrap .chr-bot .c-b-cont > div {
  display: flex;
}
.chri-wrap .chr-bot .c-b-cont > div a {
  flex: 1;
  width: 1.578125rem;
  height: 1.578125rem;
  padding: 0.234375rem;
  background: #fff;
}
.chri-wrap .chr-bot .c-b-cont > div a + a {
  margin-left: 0.078125rem;
}
.chri-wrap .chr-bot .c-b-cont > div a img {
  height: 100%;
}
/* 开始 新闻 */
.news-wrap .news-box {
  height: 0.46875rem;
  margin: 0.15625rem;
  background: #fff;
  border-radius: 0.15625rem;
  overflow: hidden;
  line-height: 0.46875rem;
  text-indent: 0.15625rem;
}
.news-wrap .news-box > img {
  width: 1.140625rem;
  height: 0.25rem;
}
.news-wrap .news-box div {
  display: inline-block;
  font-size: 0.1875rem;
}
.news-wrap .news-box div li > span {
  color: #f00;
  margin-right: 0.078125rem;
}
/* 开始 秒杀*/
.spike-wrap {
  background: #fff;
}
.spike-wrap .spike-top {
  display: flex;
  height: 0.53125rem;
  line-height: 0.53125rem;
}
.spike-wrap .spike-top .s-t-left {
  flex: 1;
}
.spike-wrap .spike-top .s-t-left img {
  height: 80%;
  margin-top: -0.03125rem;
}
.spike-wrap .spike-top .s-t-left b {
  font-size: 0.1875rem;
}
.spike-wrap .spike-top .s-t-left > span {
  padding: 0.015625rem 0.03125rem;
  border: 0.015625rem solid #ccc;
  font-size: 0.15625rem;
}
.spike-wrap .spike-top .s-t-left > i {
  font-style: normal;
}
.spike-wrap .spike-top .s-t-rig {
  flex: none;
  margin-right: 0.15625rem;
  color: #f00;
  font-size: 0.15625rem;
}
.spike-wrap .spike-top .s-t-rig > i {
  font-size: 0.15625rem;
}
.swiper-container-2 {
  overflow: hidden;
}
.swiper-container-2 ul > li {
  width: 2.71875rem !important;
  padding: 0.171875rem;
  text-align: center;
}
.swiper-container-2 ul > li img {
  height: 2.71875rem;
}
.swiper-container-2 ul > li b {
  display: block;
  font-size: 0.25rem;
  color: #e61919;
}
.swiper-container-2 ul > li del {
  color: #666;
}
/* 开始 圣诞gif */
.gifad-wrap {
  height: 3.0625rem;
}
.gifad-wrap img {
  height: 100%;
}
/*开始 列表商品*/
.list-wrap .list-box {
  display: flex;
  flex-wrap: wrap;
  background: #fff;
}
.list-wrap .list-box a {
  position: relative;
  flex: 25%;
  padding: 0.046875rem 0;
}
.list-wrap .list-box a:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0.015625rem;
  height: 100%;
  background: #eee;
}
.list-wrap .list-box a:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.015625rem;
  background: #eee;
}
.list-wrap .list-box a p {
  font-size: 0.40625rem;
  padding: 0 0.3125rem;
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(150deg, pink, red, blue);
}
.list-wrap .list-box a span {
  padding: 0 0.3125rem;
  font-size: 0.3125rem;
}
.list-wrap .list-box a img {
  width: 1.71875rem;
  height: 1.71875rem;
  padding: 0.15625rem 0.390625rem;
}
/*开始 爱生活*/
.love-wrap h4 {
  width: 100%;
  height: 0.9375rem;
  text-align: center;
}
.love-wrap h4 img {
  height: 100%;
}
.love-box .l-b-top {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background: #fff;
}
.love-box .l-b-top:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 0.015625rem;
  background: #eee;
}
.love-box .l-b-top:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 0.015625rem;
  background: #eee;
}
.love-box .l-b-top > div {
  position: relative;
  flex: 50%;
  height: 3.03125rem;
  padding: 0.078125rem 0;
  text-indent: 0.3125rem;
}
.love-box .l-b-top > div > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.love-box li > div p {
  font-size: 0.4375rem;
}
.love-box li > div span {
  display: block;
  color: #f00;
  font-size: 0.3125rem;
}
.love-box .l-b-top > div .img-box {
  padding: 0 0.234375rem;
}
.love-box .l-b-top > div .img-box img {
  display: inline-block;
  width: 1.71875rem;
  height: 1.71875rem;
}
.love-box .l-b-top > div .img-box img + img {
  margin-left: 0.3125rem;
}
.love-box .l-b-bot {
  display: flex;
  background: #fff;
}
.love-box .l-b-bot div {
  position: relative;
  flex: 25%;
  text-indent: 0.3125rem;
}
.love-box .l-b-bot div:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.015625rem;
  background: #eee;
}
.love-box .l-b-bot div:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0.015625rem;
  background: #eee;
}
.love-box .l-b-bot div img {
  width: 1.71875rem;
  height: 1.71875rem;
  margin-left: 0.390625rem;
}
/*开始 广告轮播*/
.ad-banner-wrap {
  padding: 0.15625rem 0;
}
.ad-banner-wrap .banner-wrap > div > ul > li {
  margin-left: 0.078125rem;
  height: 2.65625rem;
}
.ad-banner-wrap .banner-wrap > div > ul > li img {
  height: 100%;
}
/*开始 逛商场*/
.shop-wrap .shop-box .l-b-top > div {
  height: 2.5rem;
  position: relative;
}
.shop-wrap .shop-box .l-b-top > div > img {
  position: absolute;
  right: 0.15625rem;
  bottom: 0.15625rem;
  width: 2.125rem;
  height: 2.125rem;
}
.shop-wrap .shop-box li > div > span {
  color: #A53398;
}
.shop-wrap .shop-box .l-b-bot {
  flex-wrap: wrap;
}
/* 开始 广告*/
.img-wrap {
  height: 2.65625rem;
  margin: 0.15625rem 0.234375rem;
}
.img-wrap img {
  height: 100%;
}
/*开始 为您推荐 */
.recommend-wrap h4 {
  position: relative;
  font-weight: normal;
  text-align: center;
  margin-bottom: 0.15625rem;
  font-size: 0.21875rem;
  color: #666;
}
.recommend-wrap h4:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 40%;
  height: 0;
  border: 0.015625rem solid #ddd;
}
.recommend-wrap h4:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 40%;
  height: 0;
  border: 0.015625rem solid #ddd;
}
.recommend-wrap h4 i {
  font-size: 0.21875rem;
  margin-right: 0.15625rem;
}
.recommend-wrap .recom-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.recommend-wrap .recom-box li {
  position: relative;
  width: 4.96875rem;
  background: #fff;
  margin-bottom: 0.078125rem;
}
.recommend-wrap .recom-box li img {
  width: 4.96875rem;
  height: 4.96875rem;
}
.recommend-wrap .recom-box li p {
  margin-left: 0.078125rem;
  font-size: 0.21875rem;
  height: 0.703125rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.recommend-wrap .recom-box li b {
  display: block;
  margin: 0.078125rem 0 0 0.078125rem;
  font-size: 0.25rem;
  font-weight: normal;
  color: #e61919;
}
.recommend-wrap .recom-box li span {
  font-size: 0.15625rem;
  margin-left: 0.078125rem;
  line-height: 0.46875rem;
}
.recommend-wrap .recom-box li i {
  position: absolute;
  right: 0.15625rem;
  bottom: 0.078125rem;
  padding: 0.03125rem;
  border: 0.015625rem solid #ccc;
  border-radius: 0.03125rem;
  font-style: normal;
  font-size: 0.1875rem;
  color: #666;
}
.recommend-wrap h5 {
  position: relative;
  height: 0.5rem;
  text-align: center;
  line-height: 0.5rem;
  font-size: 0.21875rem;
  font-weight: normal;
  color: #666;
}
.recommend-wrap h5:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.015625rem;
  background: #ccc;
}
.recommend-wrap h5:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.015625rem;
  background: #ccc;
}
/*开始 底部*/
.foot-nav {
  position: relative;
  color: #666;
}
.foot-nav:before {
  content: '';
  position: absolute;
  top: 0.78125rem;
  left: 0;
  width: 100%;
  height: 0.015625rem;
  background: #ddd;
}
.foot-nav:after {
  content: '';
  position: absolute;
  top: 1.84375rem;
  left: 0;
  width: 100%;
  height: 0.015625rem;
  background: #ddd;
}
.foot-nav .f-nav-top {
  display: flex;
  width: 50%;
  height: 0.78125rem;
  margin: auto;
}
.foot-nav .f-nav-top li {
  flex: 1;
  position: relative;
  margin: auto;
  width: 30%;
  line-height: 0.78125rem;
  text-align: center;
}
.foot-nav .f-nav-top li + li:after {
  content: '';
  position: absolute;
  top: 0.3125rem;
  left: 0;
  width: 0.015625rem;
  height: 0.15625rem;
  background: #ddd;
}
.foot-nav .f-nav-top li a {
  font-size: 0.1875rem;
}
.foot-nav .f-nav-mid {
  display: flex;
  width: 5rem;
  height: 0.9375rem;
  margin: auto;
  padding: 0.0625rem 0;
  text-align: center;
}
.foot-nav .f-nav-mid li {
  flex: 1;
  width: 1.5625rem;
}
.foot-nav .f-nav-mid li a {
  display: block;
  height: 100%;
}
.foot-nav .f-nav-mid li .iconfont {
  display: block;
  font-size: 0.53125rem;
  line-height: 0.625rem;
}
.foot-nav .f-nav-mid li span {
  font-size: 0.1875rem;
}
.foot-nav .f-nav-bot {
  height: 0.578125rem;
  padding-bottom: 0.859375rem;
  line-height: 0.578125rem;
  font-size: 0.15625rem;
}
.foot-nav .f-nav-bot p {
  text-align: center;
}
.foot-nav .foot-wrap {
  display: flex;
  z-index: 999;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.84375rem;
  text-align: center;
  background: #fff;
  box-shadow: 0.15625rem 0 0.234375rem #ddd;
}
.foot-wrap a {
  flex: 1;
}
.foot-wrap a img {
  height: 0.84375rem;
}
